<!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="faq-351">
    <div class="cs-container">
        <div class="cs-content">
            <!-- <span class="cs-topper">Asked questions</span> -->
            <h2 class="cs-title">Frequently Asked Questions</h2>
            <div class="cs-divider"></div>
        </div>
        <ul class="cs-faq-group">
            <!-- Active class added as default -->
            <li class="cs-faq-item active">
                <button class="cs-button">
                    <span class="cs-button-text">
                        When do I pay for your services?
                    </span>
                </button>
                <p class="cs-item-p">
                    For most standard contracts, you'll pay 50% upfront and the final 50% when the project is complete. 
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Can you help me purchase a domain?
                    </span>
                </button>
                <p class="cs-item-p">
                    Yes! If you need a domain I'm happy to help you find, purchase, and set it up as part of our contract. 
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        What about ongoing website updates/edits?
                    </span>
                </button>
                <p class="cs-item-p">
                    The hosting package I offer includes a retainer for ongoing website edits and updates at a discounted rate. You might also want to add a blog feature to your site to post updates on your own. To edit other page content, a custom solution can be configured at additional cost.
                </p>
            </li>
        </ul>
        <!--Added second UL, this allows you to open an FAQ item on each side without messing up the flexbox for the other -->
        <ul class="cs-faq-group">
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        What is not included in your development services?
                    </span>
                </button>
                <p class="cs-item-p">
                    Unless specifically agreed otherwise, I don't write the content or provide branding or photos/graphics for your website or app. The client is responsible for providing the project content, while the developer is responsible for building the content into an attractive, functional website or app.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Do you handle SEO or marketing?
                    </span>
                </button>
                <p class="cs-item-p">
                    I ensure that your website is built with SEO best practices and performance optimization for search engines. Broader SEO and marketing strategy beyond the project code is outside the scope of my services.
                </p>
            </li>
             <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        What is your cancellation or refund policy?
                    </span>
                </button>
                <p class="cs-item-p">
                    Both the client and developer have the right to terminate the contract or agreement at any time with written notice. Payments received for any work not completed will be refunded. Refunds will not be offered for any work that has already been completed up to the point of termination.
                </p>
            </li>
        </ul>
    </div>
</section>

<style lang="less">
    /*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #faq-351 {
        padding: var(--sectionPadding);
        background: #f7f7f7;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            row-gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            margin: 0;
        }

           .cs-divider {
    width: 3rem;
    height: 0.25rem;
    background-color: var(--primary); 
    margin: 1rem auto; 
    display: block; 
  }

        .cs-faq-group {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .cs-faq-item {
            list-style: none;
            width: 100%;
            border-bottom: 1px solid #e8e8e8;
            transition: border-bottom 0.3s;

            &.active {
                border-color: var(--primary);
                .cs-button {
                    color: var(--primary);
                    &:before {
                        background-color: var(--primary);
                        transform: rotate(315deg);
                    }
                    &:after {
                        background-color: var(--primary);
                        transform: rotate(-315deg);
                    }
                }
                .cs-item-p {
                    height: auto;
                    /* 20px - 24px bottom */
                    /* 16px - 24px left & right */
                    padding: 0 clamp(1rem, 2vw, 1.5rem)
                        clamp(1.25rem, 1.3vw, 1.5rem);
                    opacity: 1;
                }
            }
        }

        .cs-button {
            font-size: (16/16rem);
            line-height: 1.2em;
            text-align: left;
            font-weight: bold;
            /* 16px - 20px */
            padding: clamp(1rem, 1.3vw, 1.25rem);
            border: none;
            background: transparent;
            color: var(--headerColor);
            display: block;
            width: 100%;
            position: relative;
            transition:
                background-color 0.3s,
                color 0.3s;

            &:hover {
                cursor: pointer;
            }

            &:before {
                /* left line */
                content: "";
                width: (8/16rem);
                height: (2/16rem);
                background-color: var(--headerColor);
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                display: block;
                top: 45%;
                right: (24/16rem);
                transform: rotate(45deg);
                /* animate the transform from the left side of the x axis, and the center of the y */
                transform-origin: left center;
                transition: transform 0.5s;
            }

            &:after {
                /* right line */
                content: "";
                width: (8/16rem);
                height: (2/16rem);
                background-color: var(--headerColor);
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                display: block;
                top: 45%;
                right: (21/16rem);
                transform: rotate(-45deg);
                /* animate the transform from the right side of the x axis, and the center of the y */
                transform-origin: right center;
                transition: transform 0.5s;
            }
        }

        .cs-button-text {
            width: 80%;
            display: block;
        }

        .cs-item-p {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            width: 90%;
            height: 0;
            margin: 0;
            /* 16px - 24px */
            padding: 0 clamp(1rem, 2vw, 1.5rem);
            opacity: 0;
            color: var(--bodyTextColor);
            /* clips the text so it doesn't show up */
            overflow: hidden;
            transition:
                opacity 0.3s,
                padding-bottom 0.3s;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #faq-351 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            /* push everything to the top */
            align-items: flex-start;
            flex-wrap: wrap;
        }

        .cs-content {
            width: 100%;
        }

        .cs-faq-group {
            width: 48%;
        }
    }
}

                                
</style>

<script>
    const faqItems = Array.from(document.querySelectorAll('.cs-faq-item'));
        for (const item of faqItems) {
            const onClick = () => {
            item.classList.toggle('active')
        }
        item.addEventListener('click', onClick)
        }
</script>