---
import client from "../data/client.json";
---

<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="cs-container">
        <p class="cs-copyright">Copyright &copy; 2025 - Nakamura Web Services</p>
    </div>
</footer>

<style lang="less">
  /* Footer Styles */
  #footer {
    padding: (32/16rem) 0;
    background-color: var(--primary);
    
    .cs-container {
      width: 100%;
      max-width: (1280/16rem);
      margin: auto;
      padding: 0 (16/16rem);
    }
    
    .cs-copyright {
      font-size: (14/16rem);
      text-align: center;
      color: #fff;
      margin: 0;
    }
  }
</style>